<% if(typeof locals.messages !== "undefined" && Object.keys(locals.messages).length > 0) { %>
    <div class="alert alert-danger alert-dismissable">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
        <% if(typeof locals.messages !== "undefined" && Object.keys(locals.messages).length > 0) { %>
            <% for (var type in locals.messages) { %>
                <% if (locals.messages.hasOwnProperty(type)) { %>
                    <p class="<%= 'bg-'+type %>"><%= locals.messages[type] %></p>
                <% } %>
            <% } %>
        <% } %>
    </div>
<% } %>
